---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro'
import Socials from '../components/Socials.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <div class="container align-center">
    <div class="scroll">
      <p>Scroll</p>
    </div>
  </div>
  <Skills />
  <Projects />
  <Socials /> 
  <section class="padding-96">
    <div class="container">
      <h2>More coming soon!</h2>
      <p class="size-24">Skills, projecten, bio..</p>
    </div>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  @use '../assets/scss/base/size' as *;

  section {
    position: relative;
    padding: 12rem 0 30rem;
  }

  section .section-divider {
    position: absolute;
    top: 0;
    left: 2rem;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: var(--font-family-special);
    font-weight: 700;
    letter-spacing: 1rem;
    opacity: 0.1;
  }

  section h2 {
    @include size-60;

    &::before {
      content: '';
      display: block;
      width: 300px;
      height: 3px;
      background-image: var(--color-gradient);
    }
  }

  section p {
    @include size-24;
  }

  .scroll {
    margin-top: -15vh;
  }

  .scroll p {
    text-transform: uppercase;
  }

  .scroll::after {
    content: '';
    display: block;
    margin-top: 1rem;
    margin-left: 50%;
    width: 1px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.2);
  }
</style>
