---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Socials from '../components/Socials.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <div class="container align-center">
    <div class="scroll">
      <p>Scroll</p>
    </div>
  </div>
  <Socials /> 
  <section class="padding-96">
    <div class="container">
      <h2>More coming soon!</h2>
      <p class="size-24">Skills, projecten, bio..</p>
    </div>
  </section>
</DefaultLayout>

<style>
  .scroll {
    margin-top: -15vh;
  }

  .scroll p {
    text-transform: uppercase;
  }

  .scroll::after {
    content: '';
    display: block;
    margin-top: 1rem;
    margin-left: 50%;
    width: 1px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.2);
  }

  
</style>
