---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <div class="container">
    <h2>More coming soon!</h2>
    <p class="size-24">Skills, projecten, bio en socials..</p>
  </div>
</DefaultLayout>
