---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro'
import Bio from '../components/Bio.astro'
import Socials from '../components/Socials.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <div class="container align-center">
    <div class="scroll">
      <p>Scroll</p>
    </div>
  </div>
  <Skills />
  <Projects />
  <Bio />
  <Socials /> 
  <div class="secret margin-128 top">
    <button title="Je hebt een Easter Egg gevonden, klik voor confetti!">🎉</button>
  </div>
</DefaultLayout>

<script>
  import confetti from 'canvas-confetti'

  const confettiButton = document.querySelector('.secret button')

  function randomInRange (min, max) {
    return Math.random() * (max - min) + min;
  }

  confettiButton.addEventListener('click', () => {
    confetti({
      angle: randomInRange(55, 125),
      spread: randomInRange(50, 70),
      particleCount: randomInRange(50, 100),
      origin: { y: 0.6 }
    })
  })
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/size' as *;

  section {
    position: relative;
    padding: 12rem 0 30rem;
  }

  section .section-divider {
    position: absolute;
    top: 0;
    left: 2rem;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: var(--font-family-special);
    font-weight: 700;
    letter-spacing: 1rem;
    opacity: 0.1;
    user-select: none;
  }

  section h2 {
    @include size-60;

    &::before {
      content: '';
      display: block;
      width: 300px;
      height: 3px;
      background-image: var(--color-gradient);
    }
  }

  section p {
    @include size-24;
  }

  .scroll {
    margin-top: -15vh;
  }

  .scroll p {
    text-transform: uppercase;
  }

  .scroll::after {
    content: '';
    display: block;
    margin-top: 1rem;
    margin-left: 50%;
    width: 1px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.2);
  }

  .secret {
    font-size: 10rem;
  
    button {
      display: inline-block;
      margin-left: -70px;
      border: none;
      padding: 0;
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        margin-left: 0;
      }
    }
  }
</style>
