<section>
  <div class="section-divider" aria-hidden="true">Bio</div>
  <div class="container">
    <div class="space-content">
      <h2>Let me tell you a bit more about me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In laboriosam architecto sapiente rem quam deleniti fugiat, quaerat iusto voluptatibus. Dignissimos iure at libero quo distinctio aut fugit perferendis quaerat laboriosam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In laboriosam architecto sapiente rem quam deleniti fugiat, quaerat iusto voluptatibus. Dignissimos iure at libero quo distinctio aut fugit perferendis quaerat laboriosam!</p>
      <img src="/dotgrid-bio.png" alt="">
    </div>
    <div class="me-myself-and-i">
      <img src="/haico-and-akio.png" alt="">
      <img src="/travel-the-world.png" alt="">
    </div>
  </div>
</section>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  
  .me-myself-and-i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
  }
</style>
