<section>
  <div class="section-divider" aria-hidden="true">Bio</div>
  <div class="container">
    <div class="space-content">
      <h2>This is me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In laboriosam architecto sapiente rem quam deleniti fugiat, quaerat iusto voluptatibus. Dignissimos iure at libero quo distinctio aut fugit perferendis quaerat laboriosam!</p>
    </div>
    <div class="me-myself-and-i">
      <img src="https://placeholder.com" alt="">
    </div>
  </div>
</section>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
</style>
