---
import Icon from 'astro-icon'
---

<div class="rainbow-button">
  <a href="/cv-haico-paulussen.pdf">
    <span>Bekijk mijn CV</span>
  </a>
</div>

<style>
  .rainbow-button {
    position: relative;
  }

  a {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
    color: white !important;
    font-weight: bold;
    display: block;
    z-index: 2;
    overflow: hidden;
    padding: 3px;
    text-decoration: none;
  }

  a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: auto;
    background-size: 50% 100%;
  }

  a:hover::before,
  a:focus::before {
    animation: rainbow-effect 1s linear infinite;
  }

  a:hover span,
  a:focus span {
    letter-spacing: 1px;
  }
  
  span {
    position: relative;
    z-index: 2;
    padding: .875rem 1.5rem;
    font-size: 1.1rem;
    align-items: center;
    background-color: rgb(var(--support-color-dark));
    border-radius: 3px;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    transition: letter-spacing 0.3s ease;
  }

  @keyframes rainbow-effect {
    to {
      transform: translateX(-50%);
    }
  }

  /* a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-width: 150px;
    padding: 0.5rem 2rem;
    background: linear-gradient(45deg, #141414, #141414) padding-box,
      linear-gradient(
          to left,
          rgb(var(--primary-color)),
          rgb(var(--secondary-color))
        )
      border-box;
    background-size: 150%;
    background-position: 100%;
    border: 4px solid transparent;
    border-radius: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
  }

  a:hover,
  a:focus {
    animation: button-gradient 2s ease infinite;
  }

  a:hover [astro-icon],
  a:focus [astro-icon] {
    margin-left: 8px;
  }

  [astro-icon] {
    width: 2rem;
    color: rgb(var(--secondary-color));
    transition: margin-left 0.3s ease;
  }

  @keyframes button-gradient {
    0% {
      background-position: 100%;
    }
    50% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  } */
</style>
