---
import Icon from 'astro-icon'

const { 
  url = '#',
  icon = 'mdi:github', 
  platform = 'GitHub',
  username = 'Haico-Paulussen' 
} = Astro.props
---

<a href={url} class="social-card">
  <div class="social-card__platform">
    <Icon name={icon} />
    <h3>{platform}</h3>
  </div>
  <div class="social-card__username">
    <p>{username}</p>
  </div>
</a>

<style>
  .social-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(var(--support-color-dark));
    padding: 1rem;
    border: 2px solid rgba(255 255 255 / 0.3);
    border-radius: 1.5rem;
    text-decoration: none;
    box-shadow: 0 0 12px 0 rgba(255 255 255 / 0.3);
    transition: all 0.2s ease-in-out;
  }

  .social-card:hover,
  .social-card:focus {
    background: linear-gradient(rgb(var(--support-color-darkest)), rgb(var(--support-color-darkest))) padding-box,
      linear-gradient(
          to left,
          rgb(var(--primary-color)),
          rgb(var(--secondary-color))
        )
        border-box;
    border-color: transparent;
    transform: translateY(-0.5rem);
  }

  .social-card__platform {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  [astro-icon] {
    width: 6rem;
    height: 6rem;
  }
</style>
